.shopping-list {
  padding: 40px 0;
}

.shopping-empty-container {
  margin: 0 auto;
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-list-tittle {
  margin-bottom: 120px;
  margin-top: 0;
  padding-left: 15px;
  color: #111;
  font-size: 32px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;

  @media (min-width: 366px) and (max-width: 768px) {
    margin-bottom: 140px;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }

  @media (min-width: 769px) and (max-width: 1440px) {
    margin-bottom: 140px;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
}

.sh-list-span {
  color: #4f2ee8;
}

.shopping-empty-text {
  margin-bottom: 14px;
  margin-top: 0;
  width: 244px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;

  @media (min-width: 366px) and (max-width: 768px) {
    width: 349px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }

  @media (min-width: 769px) and (max-width: 1440px) {
    width: 349px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

@media (max-width: 365px) {
  .shopping-empty-image {
    width: 275px;
  }
}

@media (min-width: 366px) and (max-width: 768px) {
  .shopping-empty-image {
    width: 322px;
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .shopping-empty-image {
    width: 322px;
  }
}
