.categories_list .container {
  display: flex;
  flex-direction: column;
  /* margin: 0; */
}

.category-list {
  width: 335px;
  height: 228px;
  overflow-y: auto;
}

.category-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.category-list button {
  color: var(--text-color-one);
  font-family: DM Sans;
  letter-spacing: -0.32px;
  background-color: var(--bg-color-one);
  border: none;
  cursor: pointer;
  text-align: left;
}

.category-list button.active {
  color: var(--violet);
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  /* .section_cat {
        width: -moz-fit-content;
        width: fit-content;
    } */
  .category-list {
    height: 472px;
  }
}

@media screen and (min-width: 1200px) {
  .category-list {
    width: 356px;
  }
}
