.section_cat {
    padding-top: 40px;
    padding-bottom: 40px;
}

.categories_list .container {
    display: flex;
    flex-direction: column;
    /* margin: 0; */
}

.categories-container {
    width: 335px;
    height: 228px;
    overflow-y: auto;
}

.cat_list_h3 {
    color: var(--violet);
    font-size: 16px;
    font-family: DM Sans;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.category-row {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categories-container button {
    color: rgba(17, 17, 17, 0.60);
    font-family: DM Sans;
    letter-spacing: -0.32px;

    background-color: var(--white);
    border: none;
    cursor: pointer;
    text-align: left;
}

@media screen and (min-width: 768px) {
    /* .section_cat {
        width: -moz-fit-content;
        width: fit-content;
    } */
    .categories-container {
        height: 472px;
    }

    .sup_cat {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .categories-container {
        width: 356px;
    }
} 

