.best-sellers {
  padding-top: 40px;
}
.bestsellers-button {
  margin-top: 8px;
  display: inline-flex;
  padding: 14px 26px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid var(--text-color-hover);
  color: var(--text-color-two);
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  position: sticky;
  left: 1500px;
  background-color: var(--bg-color-one);
  transition: background-color 0.7s;
}
.bookcard-image {
  width: 335px;
  height: 485px;
}

.bestsellers-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}
.bestsellers-item-name {
  margin: 40px 0 18px 0;
  height: 18px;
  color: var(--text-color-three);
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.bestsellers-name {
  font-size: 32px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
  display: flex;
  column-gap: 4px;
}
.bestsellers-name-first {
  color: var(--text-color-two);
  margin-top: 40px;
  margin-left: 40px;
}
.bestsellers-name-second {
  color: var(--text-color-hover);
  margin-top: 40px;
}
.bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestsellers-button-pading {
  padding-left: 156px;
}
.bestsellers-button-up {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 54px;
  background: var(--text-color-hover);
  opacity: 0.5;
  position: sticky;
  bottom: 140px;
  left: 1000px;
}
@media screen and (min-width: 767px) {
  .bestsellers-button-up {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 767px) {
  .bestsellers-mobile {
    display: none;
    visibility: hidden;
  }
}
.bestsellers-list-second {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}
/* D */
@media screen and (max-width: 1440px) {
  .bestsellers-tablet {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 768px) {
  .bestsellers-list-second {
    width: 704px;
    column-gap: 25px;
    display: flex;
    flex-direction: row;
  }
  .bookcard-image {
    width: 218px;
    height: 316px;
  }
  .bookcard-svg {
    width: 60px;
    height: 54px;
    left: 79px;
    top: 133px;
  }
}
@media screen and (max-width: 375px) {
  .bookcard-image {
    width: 280px;
    height: 405px;
  }
  .bookcard-svg {
    position: absolute;
    left: 96px;
    top: 162px;
  }
}
/* D */
@media screen and (min-width: 1440px) {
  .bookcard-image {
    width: 180px;
    height: 256px;
  }
}
/* D */
@media screen and (min-width: 1440px) {
  .bestsellers-list-item {
    width: 1000px;
  }
  .bestsellers-list {
    width: 1000px;
  }
  .bookcard-svg {
    width: 44px;
    height: 40px;
    left: 68px;
    top: 110px;
  }
}
.bestsellers-choose-list {
  display: flex;

  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .bestsellers-choose-list {
    width: 704px;
    column-gap: 25px;
    display: flex;

    flex-wrap: wrap;
    row-gap: 25px;
  }
  .choose-list-item {
    width: 218px;
  }
}
@media screen and (max-width: 767px) {
  .choose-list-item {
    width: 335px;
  }
}
@media screen and (min-width: 1440px) {
  .choose-list-item {
    width: 180px;
  }
  .bestsellers-choose-list {
    width: 1000px;
  }
}
.choose-list-item {
  justify-content: center;
  display: flex;
}
/* Dima */
/* .bestsellers-home {
  margin-top: 40px;
} */
/* Dima */
/* .bestsellers-name {
  margin-top: 40px;
} */

.style-js {
  /* margin-left: 40px; */
  margin-bottom: 40px;
}
