.bookcard-image {
  border-radius: 8px;
}
.bookcard-name {
  color: var(--black);
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin: 14px 0 4px 0;
}
.bookcard-author {
  color: var(--main-text-color);
  font-size: 12px;
  font-family: DM Sans;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  margin: 0;
}
.bookcard {
}
