/* - Перевірити на повторювані з загальними стилі
- Перенести visually hidden з основних стилів
- Шрифти */

.section.header {
    position: sticky;
    top: 0;
    padding: 18px 20px;
    border: 2px solid #111;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    width: 24px;
    height: 24px;
}

.navigation-menu {
    display: none;
}

.user-block {
    display: flex;
    gap: 14px;
    align-items: center;
}

.user-account-button {
    display: none;
}

.logo-link {
    width: 109px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.switch-theme-check {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.switch-theme-check-desc {
    position: relative;
}

.switch-theme-check-desc::before {
    display: block;
    content: '';
    width: 40px;
    height: 20px;
    background-image: linear-gradient(#4F2EE8, #DCDCDC),
        linear-gradient(#FFFFFF, #F7F7F7);
    border-radius: 50px;
}

.switch-theme-check-desc::after {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 1px;
    top: 1px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch-theme-check.checked + .switch-theme-check-desc::after {
    transform: translate(20px);
}

.switch-theme-check.checked + .switch-theme-check-desc::before {
    background-image: linear-gradient(#4F2EE8, #686868),
        linear-gradient(#FFFFFF, #F7F7F7);
}

.burger-menu-icon {
    stroke: black;
}

.page-button {
    padding: 7px 16px;
    height: 34px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 36px;
    font-size: 14px;
    /* font-family: 'DM Sans'; */
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.56px;
}

.page-button.cart{
    display: flex;
    gap: 4px;
}

.page-button.active {
    background-color: #EAC645;
}

.user_name {
    margin-right: 4px;
    color: #FFF;
    font-size: 22px;
    /* font-family: DM Sans; */
    font-weight: 700;
    letter-spacing: -0.44px;
}


/* Dropdown */

.dropdown-menu {
    position: relative;
    z-index: -1;
    top: -72px;
    height: 100vh;
    background-image: url(/src/images/group-min.png), 
      radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden; 
}


.dropdown-container {
    padding: 92px 20px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    

.top-block {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.user-info {
    display: flex;
    gap: 9px;
    align-items: center;
}

.navigation-drop-menu {
    margin: auto;
    display: flex;
    flex-direction: column;
    
    gap: 9px;
}

.page-button.dropdown {
    color: #FFF;
}

.page-button.dropdown.active {
    position: relative;
    left: 16px;
    color: #000;
}

.shopping-list-icon.dropdown {
    fill: #FFF;
}

.logout-button {
    padding: 14px 24px;
    height: 48px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #FFF;
    font-size: 14px;
    /* font-family: 'DM Sans'; */
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.56px;
}


/* Media */

@media screen and (min-width: 768px) {
    .section.header {
        padding: 14px 32px;
        height: 72px;
    }

    .header-navigation {
        gap: 40px;
    }

    .navigation-menu {
        display: flex;
        list-style: none;
        align-items: center;
        padding-inline-start: 0;
    }

    .menu-link {
        display: none;
    }

    .user-account-button {
        display: block;
    }

    .user-block {
        gap: 24px;
    }

    .user-account-button {
        height: 45px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        background-color: #4F2EE8;
        border: none;
        border-radius: 36px;
    }

    .user-icon {
        margin-right: 9px;
    }

    
}

@media screen and (min-width: 1440px) {
    .section.header {
        padding: 19px 24px;
    }

    .header-navigation {
        gap: 76px;
    }

    .navigation-menu {
        gap: 8px;
    }
}
