// Загальні настройки + fonts
@import './common';

// -- Стилі блоків --
@import './example';

@import './bookcard.css';
@import './support';
@import './root.css';
@import './header.css';
@import './all_categories.css';
@import './bestsellers.css';
@import './shoplist';


