// Svitlana

.support {
  max-width: 335px;
  height: 352px;
  padding: 24px 40px 20px;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  min-width: 0;
  border-radius: 16px;
  box-shadow: 0px 10px 10px #f5f5f71a;
  margin-left: 0px;
  margin-top: 40px;

  @media screen and (min-width: $tablet) {
    max-width: none;
    width: 335px;
    height: 472px;
    padding: 24px 40px 14px;
  }
  @media screen and (min-width: $desktop) {
    width: 356px;
    height: 490px;
    padding: 24px 40px;
  }
}
.support-block {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.support-title {
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-family: DM Sans;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -1.12px;
}

.support-list {
  min-width: 0;
  margin-top: 0;
}

.support-number {
  font-size: 14px;
  font-family: DM Sans;
  letter-spacing: -0.56px;
  color: #ffffff;
}

.support-item {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 32px;
  list-style: none;
}

.support-link {
  color: var(--white);
  filter: brightness(0) invert(1);
  transition: var(--timing-function);
}

.support-link:hover {
  filter: none;
}
img {
  width: auto;
}

.support-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: transparent;
  background: #ffffff;
  transition: transform var(--timing-function);
}
.support-btn:hover,
.support-btn:focus {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .section-support {
    // padding-top: 40px;
  }

  .support-container {
    padding: 0;
  }
  .support {
    width: 335px;
    height: 472px;
  }
  .support-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .section-support {
    padding-top: 0px;
  }

  .support {
    width: 356px;
    height: 490px;
  }

  .support-title {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.swiper {
  height: 188px;
  margin-bottom: 16px;

  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 292px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 40px;
  }
}
